<h1>{{title}}</h1>
<p>Formulario para crear productos</p>
<form action="formulario">

    <label for="txtCode">codigo</label>
    <input id="txtCode" name="txtCode" [(ngModel)] = "product.code"/> <br/>

    <label for="txtName">Nombre</label>
    <input id="txtName" name="txtName" [(ngModel)] = "product.name"/> <br/>

    <label for="txtPrecio">precio</label>
    <input id="txtPrecio" name="txtPrecio" [(ngModel)] = "product.price"/> <br/>

    <button (click)= "guardar()">guardar</button>

</form>
<button (click) ="goListarProductos()">listado productos</button>