.buton{
    margin: 30px;
}

.mat-elevation-z8{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(131, 103, 103);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    width: auto;
    
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
    width: 500px;
    
}
.b2{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    width: auto;
}