<h1>{{ title }}</h1>
<p>Formulario para editar productos</p>
<form action="formulario">
  <mat-form-field appearance="fill">
    <mat-label>Codigo</mat-label>
    <input id="txtCode" name="txtCode" matInput [(ngModel)]="product.code" />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input id="txtName" name="txtName" matInput [(ngModel)]="product.name" />
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>precio</mat-label>
    <input
      id="txtPrecio"
      name="txtPrecio"
      matInput
      [(ngModel)]="product.price"
    />
  </mat-form-field>
  <br />
  <button mat-raised-button color="accent" (click)="editar()">Aceptar</button>
</form>
<br />
<button mat-raised-button color="accent" (click)="goListarProductos()">
  listado productos
</button>
